
---
layout: archive
title: "Research"
permalink: /research/
---
{% if post.category == "manuscripts" %}
<p>
  <li>
    {{post.publishedyear}}.
    <a href="{{post.paperurl}}">{{post.title}}</a> 
    <b><i>{{post.journalname}}</i></b> 
    {{post.journalissue}}</b>: {{post.pagenumbers}}
  </li>
</p>
{% endif %}

    <div class="conferences">
        <h2>Conferences</h2>
        {% for conference in page.conferences %}
            <div class="conference">
                <h3>{{ conference.name }}</h3>
                <p>Date: {{ conference.date }}</p>
                <p>Location: {{ conference.location }}</p>
                <a href="{{ conference.link }}">More Info</a>
            </div>
        {% endfor %}
    </div>

    <div class="citations">
        <h2>Citations</h2>
        <ul>
            {% for citation in page.citations %}
                <li>{{ citation }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="downloads">
        <h2>Downloads</h2>
        <ul>
            {% for download in page.downloads %}
                <li><a href="{{ download.link }}">{{ download.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
